$colors: (
	main: #ffffff,
	second: #484848,
	/*this color is #60606 */ second-light: lighten(#484848, 30%),
	/*this color is #faf9f9 */ second-lighter: lighten(#484848, 70%),
	/*this color is #343434*/ second-dark: darken(#484848, 30%),
	button: #1ba1e2
);
@function color($color-name) {
	@return map-get($colors, $color-name);
}

.get_touch {
	clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
	background-color: color(second-lighter);
	height: 17em;
}

.submit {
	display: flex;
	article.first {
		width: 50vw;
	}
	article.form {
		div.form-group {
			justify-content: flex-start;
			align-items: center;
			width: 470px;
			height: 56px;
			background-color: #faf9f9;
			display: flex;
			span.layer {
				width: 51px;
				align-content: center;
				text-align: center;
				display: inline-block;
				height: 100%;
				background-color: #eaeaea;
				i {
					position: relative;
					top: calc(50% - 10px);
				}
			}
			input {
				border: none;
				background-color: inherit;
				padding-left: 1rem;
			}
			textarea {
				border: none;
				background-color: inherit;
				display: none;
			}
		}
		div.textarea {
			height: 275px;
		}
	}
}

.map {
	height: 60vh;
	background-color: color(second);
	padding-top: 2rem;
}
.reach_us {
	margin: auto;
	width: 80vw;
	ul.contact {
		display: flex;
		list-style: none;
		li {
			width: 20vw;
			padding: 2rem;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-size: 0.7rem;
			i {
				padding-bottom: 2rem;
			}
		}
	}
}

section.reach_to_us {
	background-color: color(second-dark);
	clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
	color: color(second-lighter);
	margin: 0;
	ul.col {
		padding-top: 4em;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		li {
			width: 33%;
			li:last-child {
				padding-left: 0.95em;
			}
		}
		h3,
		h4,
		span {
			text-transform: capitalize;
			padding-left: 1.5em;
		}
		h4 {
			font-size: 1em;
			padding-bottom: 1em;
		}
		ul.contact_us {
			li {
				display: flex;
				width: auto;
				h3 {
					font-size: 1em;
					padding-bottom: 2em;
				}
			}
		}
		ul.lates_twe {
			list-style-type: none;
			li {
				padding: 0;
				width: auto;
				display: flex;
				i {
					padding-right: 0.5em;
				}
			}
		}
		li.write_us {
			input {
				position: relative;
			}
			input#profile {
				margin: 0em 2em 0.5em 0.5em;
				background-image: url(img/user-alt-solid.svg);
			}
			input#pen {
				margin-left: 0.5em;
				width: 24.5em;
				height: 8em;
				::placeholder {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			p.buttons {
				float: left;
				padding-left: 0;
				a.btn {
					border: 1px solid color(button);
					background-color: color(button);
					color: color(main);
					margin: 1em;
					height: 45px;
					width: 152px;
				}
			}
		}
	}
}

section.footer {
	background: #2e2e2e;
	color: #ffffff;
	height: 5rem;
	div {
		text-align: center;
		padding-top: 2rem;
	}
}
