section {
	&.first {
		height: 500px;
		background-color: #484848;
		clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

		h1.name,
		p.lead,
		a {
			color: white;
		}
	}

	&.second {
		background-color: white;
		p.buttons {
			display: flex;
			justify-content: center;
			a.btn {
				margin: 1em;
			}
		}
	}
}

section.third {
	background-color: #faf9f9;
	height: 29em;
	transform: skewY(-4deg);
	h1,
	h3,
	p {
		transform: skewY(4deg);
	}
	.text {
		float: left;
		width: 50%;
	}
	.picture {
		width: 50%;
	}
}

section.fourth {
	background-color: #ffffff;

	.timeline {
		width: 100%;
		height: 100px;
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: center;

		.events {
			position: relative;
			background-color: #606060;
			height: 3px;
			width: 100%;
			border-radius: 4px;
			margin: 5em 0;
			ol {
				margin: 0;
				padding: 0;
				text-align: center;
			}

			ul {
				list-style: none;
				li {
					display: inline-block;
					width: 24.65%;
					margin: 0;
					padding: 0;
					a {
						font-family: "Arapey", sans-serif;
						font-style: italic;
						font-size: 1.25em;
						color: #606060;
						text-decoration: none;
						position: relative;
						top: -32px;
						:after {
							content: "";
							position: absolute;
							bottom: -25px;
							left: 50%;
							right: auto;
							height: 20px;
							width: 20px;
							border-radius: 50%;
							border: 3px solid #606060;
							background-color: #fff;
							transition: 0.3s ease;
							transform: translateX(-50%);
						}

						hover::after {
							background-color: #194693;
							border-color: #194693;
						}
						selected:after {
							background-color: #194693;
							border-color: #194693;
						}
					}
				}
			}
		}
	}
}

section.fifth {
	background-color: #faf9f9;
	transform: skewY(-4deg);
	height: 29em;
	div,
	ul {
		transform: skewY(4deg);
		list-style-type: none;
	}
	li.left {
		float: left;
		width: 33%;
	}
	li.right {
		float: right;
		width: 33%;
	}
}

section.sixth {
	background-color: #ffffff;
	.row {
		display: flex;
		justify-content: center;
	}
	div.left {
		float: left;
	}
	div.right {
		float: right;
	}
	ul {
		list-style-type: none;
	}
	li {
		width: 356px;
		background-color: #484848;
		margin-bottom: 15px;
	}
	li.small {
		height: 243px;
	}
	li.medium {
		height: 319px;
	}
	li.large {
		height: 473px;
	}
}

section.seventh {
	background-color: #faf9f9;
	transform: skewY(-4deg);
	p {
		transform: skewY(4deg);
	}
	p.left {
		float: left;
	}
	p.right {
		float: right;
	}
}

section.eighth {
	background-color: #ffffff;
	ul {
		list-style-type: none;
		display: flex;
		padding-right: 2em 10em 0 10em;
		justify-content: space-around;
	}

	img.profile {
		width: 272px;
		height: 272px;
		background-color: #484848;
	}
}

section.nineth {
	background-color: #343434;
	clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
	color: white;
	ul.col {
		padding-top: 4em;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		li {
			width: 33%;
		}
		ul.contact_us {
			li {
				display: flex;
				justify-content: center;
				width: 19em;
				h3 {
					font-size: 1em;
				}
			}
		}
		ul.lates_twe {
			list-style-type: none;
			li {
				width: auto;
			}
		}
	}
}
