$colors: (
	main: #ffffff,
	second: #484848,
	/*this color is #60606 */ second-light: lighten(#484848, 30%),
	/*this color is #faf9f9 */ second-lighter: lighten(#484848, 50%),
	/*this color is #343434*/ second-dark: darken(#484848, 30%),
	button: #1ba1e2
);
@function color($color-name) {
	@return map-get($colors, $color-name);
}

section {
	&.corp_design {
		height: 500px;
		background-color: color(second);
		clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

		h1.name,
		p.lead,
		a {
			color: color(main);
		}
	}

	&.clean_unique_design {
		background-color: color(main);
		p.buttons {
			display: flex;
			justify-content: center;
			a.btn {
				margin: 1em;
			}
		}
	}
}

section.know_about_us {
	background-color: color(second-lighter);
	height: 29em;
	transform: skewY(-4deg);
	h1,
	h3,
	p {
		transform: skewY(4deg);
	}
	.text {
		float: left;
		width: 50%;
	}
	.picture {
		width: 50%;
	}
}

section.working_process {
	background-color: color(main);

	.timeline {
		width: 100%;
		height: 100px;
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: center;

		.events {
			position: relative;
			background-color: color(second-light);
			height: 3px;
			width: 100%;
			border-radius: 4px;
			margin: 5em 0;
			ol {
				margin: 0;
				padding: 0;
				text-align: center;
			}

			ul {
				list-style: none;
				li {
					display: inline-block;
					width: 24.65%;
					margin: 0;
					padding: 0;
					a {
						font-family: "Arapey", sans-serif;
						font-style: italic;
						font-size: 1.25em;
						color: color(second-light);
						text-decoration: none;
						position: relative;
						top: -32px;
						:after {
							content: "";
							position: absolute;
							bottom: -25px;
							left: 50%;
							right: auto;
							height: 20px;
							width: 20px;
							border-radius: 50%;
							border: 3px solid color(second-light);
							background-color: color(second-lighter);
							transition: 0.3s ease;
							transform: translateX(-50%);
						}

						hover::after {
							background-color: color(button);
							border-color: color(button);
						}
						selected:after {
							background-color: color(button);
							border-color: color(button);
						}
					}
				}
			}
		}
	}
}

section.testimonials {
	background-color: color(second-lighter);
	transform: skewY(-4deg);
	height: 29em;
	div,
	ul {
		transform: skewY(4deg);
		list-style-type: none;
	}
	li.left {
		float: left;
		width: 33%;
	}
	li.right {
		float: right;
		width: 33%;
	}
}

section.our_portofolio {
	background-color: color(main);
	.row {
		display: flex;
		justify-content: center;
	}
	div.left {
		float: left;
	}
	div.right {
		float: right;
	}
	ul {
		list-style-type: none;
	}
	li {
		width: 356px;
		background-color: color(second);
		margin-bottom: 15px;
	}
	li.small {
		height: 243px;
	}
	li.medium {
		height: 319px;
	}
	li.large {
		height: 473px;
	}
}

section.purchase {
	background-color: color(second-lighter);
	transform: skewY(-4deg);
	p {
		transform: skewY(4deg);
	}
	p.left {
		float: left;
	}
	p.right {
		float: right;
	}
}

section.our_team {
	background-color: color(main);
	ul {
		list-style-type: none;
		display: flex;
		padding-right: 2em 10em 0 10em;
		justify-content: space-around;
	}

	img.profile {
		width: 272px;
		height: 272px;
		background-color: color(second);
	}
}

section.contact {
	background-color: color(second-dark);
	clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
	color: color(second-lighter);
	ul.col {
		padding-top: 4em;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		li {
			width: 33%;
		}
		ul.contact_us {
			li {
				display: flex;
				justify-content: center;
				width: 19em;
				h3 {
					font-size: 1em;
				}
			}
		}
		ul.lates_twe {
			list-style-type: none;
			li {
				width: auto;
			}
		}
	}
}
